<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="dietacud"
        versionCode="1"
        version="1.0.0">
    <name>DietaCud</name>
    <description>Aplikacja wspomagająca przestrzeganie diety</description>
    <author>Dawid Holko, Bartosz Godula</author>
    <icon src="images/icon.png"/>
    <preference name="SplashScreen" value="splash"/>
    <preference name="SplashScreenDelay" value="1000"/>
    <gap:platform name="android"/>
    <platform name="android">
        <splash src="splash.png" density="land-hdpi"/>
        <splash src="splash.png" density="land-ldpi"/>
        <splash src="splash.png" density="land-mdpi"/>
        <splash src="splash.png" density="land-xhdpi"/>
        <splash src="splash.png" density="port-hdpi"/>
        <splash src="splash.png" density="port-ldpi"/>
        <splash src="splash.png" density="port-mdpi"/>
        <splash src="splash.png" density="port-xhdpi"/>
    </platform>
    <plugin name="com.brodysoft.sqliteplugin" spec="1.0.6" source="pgb" />
    <plugin name="org.apache.cordova.splashscreen"/>
    <plugin name="com.jamiestarke.webviewdebug" spec="1.0.8" source="pgb" />
	<plugin name="phonegap-plugin-barcodescanner" source="npm" />
	<plugin name="org.apache.cordova.camera" spec="0.3.6" source="pgb" />
	<plugin name="org.apache.cordova.dialogs" spec="0.3.0" source="pgb" />
	<plugin name="org.apache.cordova.vibration" spec="0.3.13" source="pgb" />
	<plugin name="de.appplant.cordova.plugin.local-notification" source="npm" />
	<preference name="android-build-tool" value="gradle" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <access origin="*"/>
    <allow-navigation href="*"/>
    <allow-intent href="*"/>
</widget>